<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
    rel="stylesheet"
  />
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <body style="font-family: 'Nunito', sans-serif">
    <div class="">
      <img src="../static/img/favicon.png" />
      <h1>
        <span style="color: #815025">CAS</span
        ><span style="color: #487932">SAVE</span
        ><span style="color: #815025">A</span>
      </h1>
      <button
        onclick="location.href = '/photo';"
        class="button"
        style="outline: none"
      >
        <img src="../static/img/ContinueButton.png" />
      </button>
    </div>
  </body>
</html>
