<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
    rel="stylesheet"
  />
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <body style="font-family: 'Nunito', sans-serif">
    <div class="">
      <img src="../static/img/favicon.png" />
      <h1>CASSAVEA</h1>
      <button type="button">Continue</button>
    </div>
  </body>
</html>
