<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
    rel="stylesheet"
  />
  <style>
    h1 {
      font-family: inherit;
    }
  </style>
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <body style="font-family: 'Lato', sans-serif">
    <img src="../static/img/casSAVEa_Logo-transp 1.png" />
    <h1>Take Photo</h1>
    <button
      onclick="location.href = '/photo';"
      class="button"
      style="outline: none"
    >
      <img src="../static/img/Camera.png" />
    </button>
    <h1>Upload</h1>
    <button
      onclick="location.href = '/photo';"
      class="button"
      style="outline: none"
    >
      <img src="../static/img/Upload.png" />
    </button>
  </body>
</html>
